body {
  background-color: #222121;
}

.navbar {
  background-color: #212529;
  box-shadow: 1px 1px 3px #000000;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin-right: 1rem;
}

.nav-link {
  color: #ffffff !important;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  transition: color 0.35s ease;
}

.nav-link:hover {
  color: #66cc99 !important;
}

.navbar-nav .nav-link.active {
  color: #66cc99 !important;
}

.logo {
  height: 25px;
  width: auto;
  display: block;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28102, 204, 153, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border: 1px solid #66cc99;
}

/* Pills navigation */

.nav-pills{
  border-bottom: 2px solid #ffffff;
}

.nav-pills .nav-link{
  color: #ffffff;
 margin-bottom: 1rem;
   background-color: #333;
}

.nav-pills .nav-link:hover{
  color: #66cc99 !important;
}

.nav-pills .nav-link.active{
background-color: #66cc99 !important;
color: #ffffff !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  color: #ffffff;
}

  /* Drop Cap */
.dropcap{
   font-family: "Lora", serif;
   font-weight: 700;
   font-size: 4.5rem;
    line-height: 1;
    margin: 0.2rem 0.6rem 0 0;
    color: #66cc99;
}
  
/* Breadcrumb */

.breadcrumb {
    font-family: "Poppins", sans-serif;
  background-color: transparent;
  padding: 0;
  margin-bottom: 1rem;
}

.breadcrumb-item a {
  color: #66cc99;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb-item a:hover {
  color: #fff;
}


.breadcrumb-item.active {
  color: #ffffff;
  font-weight: 500;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #ffffff;
  font-weight: 700;
  font-family: "Lora", serif;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #ffffff;
}

.btn-sm {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

.btnOff{
  background-color: #198754;
}

.btnOff:hover{
  color: #66cc99;
  background-color: black;
}

.fa-icon {
   color: #66cc99;
}

.dot-white {
   color: #ffffff;
}

/* Bootstrap Icons */
.bi-camera {
  color: #66cc99;
}



/* Hero Images */
#heroHomepage {
  background-image: url(../img/homepage/hero.homepage.jpg);
  background-size: cover;
  min-height: 65vh;
  background-position: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#heroPhotos {
  background-image: url(../img/photos/hero.photos.jpg);
  background-size: cover;
  min-height: 65vh;
  background-position: center;
  text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.4);
}

#heroPortraits {
  background-image: url(../img/photos/portraits/portraits_header.jpg);
  background-size: cover;
  min-height: 65vh;
  background-position: center;
  text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.4);
}

#heroLandscapes {
  background-image: url(../img/photos/landscapes/landscapes_header.jpg);
  background-size: cover;
  min-height: 65vh;
  background-position: center;
  text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.4);
}

#heroSports {
  background-image: url(../img/photos/sports/sports_header.jpg);
  background-size: cover;
  min-height: 65vh;
  background-position: center;
  text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.4);
}

#heroMacro {
  background-image: url(../img/photos/macro/macro_header.jpg);
  background-size: cover;
  min-height: 65vh;
  background-position: center;
  text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.4);
}

#heroVideo {
  background-image: url(../img/videos/videos_header.jpg);
  background-size: cover;
  min-height: 65vh;
  background-position: center;
  text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.4);
}

#heroAbout {
  background-image: url(../img/about/about_header.jpg);
  background-size: cover;
  min-height: 65vh;
  background-position: center;
  text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.4);
}


/* Additional Sites */
#portraitsSite{
  background-image: linear-gradient(rgba(102,153,255,0.4),rgba(51,204,153,0.3)),url(../img/photos/portraits.jpg);
  background-size: cover;
  background-position: center;
  min-height: 25vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#landscapeSite{
  background-image: linear-gradient(rgba(102,153,255,0.4),rgba(51,204,153,0.3)),url(../img/photos/landscapes.jpg);
  background-size: cover;
  background-position: center;
  min-height: 25vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#sportsSite{
  background-image: linear-gradient(rgba(102,153,255,0.4),rgba(51,204,153,0.3)),url(../img/photos/sports.jpg);
  background-size: cover;
  background-position: center;
  min-height: 25vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#landscapeModal{
  background-image: linear-gradient(rgba(102,153,255,0.4),rgba(51,204,153,0.3)),url(../img/photos/landscapes.jpg);
  background-size: cover;
  background-position: center;
  min-height: 25vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#macroSite{
  background-image: linear-gradient(rgba(102,153,255,0.4),rgba(51,204,153,0.3)),url(../img/photos/macro.jpg);
  background-size: cover;
  background-position: center;
  min-height: 25vh;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Glass Btn */
.glass{
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  color: #fff;
}

.glass:hover{
  background-color: linear-gradient(135deg, rgba(51, 204, 153, 1),rgba(0,102,255,1));
  border: 1px solid rgba(0,102,255,1);
  color: #fff;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #66cc99;
}

/* Progress Bars */

.progress{
  height: 14px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  border-radius: 1;
  background-color: rgba(102,102,102,0.4);
  border-right: 5px solid #66cc99;
}

.progress-bar {
  background-color: #66cc99;
}

/* profile photo */
.profilePhoto {
  background: linear-gradient(rgb(250, 250, 250), rgba(18, 184, 128, 0.8));
  border-radius: 1rem;
  
}

/* Accordion */
.accordion {
  border: 3px solid #198754;
border-radius: 0.6rem;
}

.accordion-body {
  background-color: #212529;
}

.accordion-body p{
  color: #ffffff;
}

.accordion-body ul li{
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.accordion-button {
  background: #198754;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.accordion-button:not(.collapsed) {
  background-color: #198754;
  color: #ffffff;
}

/* Footer */

footer {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  background-color: #212529;
}

footer .nav-link {
  font-weight: 500;
  font-size: 0.9rem;
  color: #66cc99;
}

footer .nav-item {
  margin-right: 0;
}
